/* EditCounties.css */
.edit-counties-container {
  margin-top: 20px;
  padding: 20px;
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  background-color: #f9fff9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.edit-counties-container h2 {
  text-align: center;
  color: #2d742d;
}

.counties-list {
  list-style: none;
  padding: 0;
}

.county-item {
  margin-bottom: 10px;
}

.county-link {
  text-decoration: none;
  color: #2d742d;
  font-weight: bold;
}

.county-link:hover {
  text-decoration: underline;
}
